<!DOCTYPE html>
<html>
<head>
	<title>Machine Learning App with Flask</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link href="/static/style.css" rel="stylesheet">

	    
</head>
<body>

	<header>
	         
		<div class="container">

            <div class="container">
			   <strong> L’analyse des sentiments des Tweets en arabe</strong>
               
                
           </div>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<center>
		<p>Entrer votre Tweet ici </p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="v2" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		<center/>
		
	</form>
		
	</div>

	
	

</body>
</html>